<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test1">
  	<parameter name = "name" value = "Harish" />
  	<parameter name = "age" value = "40" />
  	<classes>
    	<class name = "group1.artifact1.FirstTest" />
    	<class name = "group1.artifact1.SecondTest" />
    	<class name = "group1.artifact1.ThirdTest" />
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite -->
